@page "/ListadoDetalles"

@using BlazorApp1.Data
@inject DetalleService DetalleService

<h3>Listado Detalles</h3>

<p>Visualizador de los DEtalles</p>

@if (detalles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Tiempo</th>
                <th>RecursoId</th>
                <th>TareaId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in detalles)
            {
                <tr>
                    <td>@detail.Id</td>
                    <td>@detail.Fecha</td>
                    <td>@detail.Tiempo</td>
                    <td>@detail.RecursoId</td>
                    <td>@detail.TareaId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Detalle> detalles;

    protected override async Task OnInitializedAsync()
    {
        detalles = DetalleService.ListarDetalle();
    }
}
