@page "/ListadoTareas"

@using BlazorApp1.Data
@inject TareaService TareaService

<h3>Listado de Tareas</h3>

<p>Visualizador de las tareas</p>

@if (tareas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Vencimiento</th>
                <th>Estimacion</th>
                <th>RecursoId</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tarea in tareas)
            {
                <tr>
                    <td>@tarea.Id</td>
                    <td>@tarea.Titulo</td>
                    <td>@tarea.Vencimiento</td>
                    <td>@tarea.Estimacion</td>
                    <td>@tarea.RecursoId</td>
                    <td>@tarea.Estado</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Tarea[] tareas;

    protected override async Task OnInitializedAsync()
    {
        tareas = TareaService.GetTareas();
    }
}
